* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #191919;
    display: flex;
    justify-content: center;
}

#calculator {
    margin: 15.0em;
    min-width: 250px;
    max-width: 250px;
    background-color: #353535;
    border-top: 2px solid #353535;
}

#display {
    background-color: white;
    padding: 1.00em;
    margin: 0.75em;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    padding: 10px;
}

.calc-btn {
    padding: 1.5em;
    border-radius: 15%;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
}

.clear {
    background-color: #5eca41;
}